body{background: #f5f5f5;}
header{border-bottom: 1px solid #c4c4c4;}
.nav{width:1400px;height: 80px;margin:0 auto;box-sizing: border-box;}
.nav:before{display:block;clear: both;content: "";}
.nav .logo{float: left;}
.nav .gnb{float: right;}
.nav .logo a{display:block;padding:0 30px 0;font-size: 30px;line-height: 80px;font-family: 'Roboto', sans-serif;}
.nav .gnb ul:before{display:block;clear:both;content:"";}
.nav .gnb li{float: left;padding: 0 30px 0;}
.nav .gnb li a{position:relative;display:block;font-size:20px;line-height:80px;font-family: 'Roboto', sans-serif;}
.nav .gnb li a:before{position:absolute;left: 50%;top:58px;width: 0;height: 2px;background: #651fff;transition: .5s;content: "";}
.nav .gnb li:hover a:before{width: 100%;height: 2px;left: 0;}
.nav .gnb li.on a:before{width: 100%;height: 2px;left: 0;}

/* project absolute-tab */
.tab{padding : 260px 0 200px;text-align: center;}
.tab ul{overflow:hidden;position: absolute;left: 50%;top: 200px;transform:translateX(-50%);display:flex;width: 526px;height: 60px;background: #fff;border-radius: 10px;box-shadow: 2px 2px 6px rgba(0,0,0,.5);align-items: center;justify-content: center;}
.tab ul li{flex: 1;height:100%;text-align: center;transition: .5s;}
.tab ul li.on{background: #b388ff;}
.tab ul li:hover{background: #b388ff;}
.tab ul li a{display:block;height: 100%;line-height: 60px; font-size: 16px;font-family: 'Roboto', sans-serif;}

.tab-con>div{display: none;}
.tab-con .text{padding: 40px 0;}
.tab-con .text h2{font-size:20px;line-height:28px;font-family: 'Roboto', sans-serif;}
.tab-con .text p{font-size: 16px;line-height: 26px;}
